<tr>
    <td>
        {% if not task.is_finished %}
            <span class="uk-text-emphasis">{{ task.content }}</span>
        {% else %}
            <s class="uk-text-danger">
                <span class="uk-text-muted">{{ task.content }}</span>
            </s>
        {% endif %}
    </td>
    <td class="table-buttons uk-width-auto">
        {% if not task.is_finished %}
            <button hx-patch="/task/{{ task.id }}" class="uk-button uk-button-text uk-button-small">Done</button>
        {% else %}
            <button class="uk-button uk-button-text uk-button-small" disabled>Done</button>
        {% endif %}
    </td>
    <td class="table-buttons uk-width-auto">
        <button hx-delete="/task/{{ task.id }}" class="uk-button uk-button-text uk-button-small">Delete</button>
    </td>
</tr>
