{% extends "base.html" %}

{% block content %}
    <form method="POST" action="/task" class="uk-text-center uk-grid-small" autocomplete="off" uk-grid="uk-grid">
        <div class="uk-width-expand">
            <input class="uk-input" type="text" placeholder="New task" name="content" autofocus="autofocus" required="required"/>
        </div>
        <div>
            <button class="uk-button uk-button-danger" type="submit">Add</button>
        </div>
    </form>
    <table class="uk-table uk-table-divider">
        <thead>
            <tr>
                <th>Task</th>
            </tr>
        </thead>
        <tbody hx-target="closest tr" hx-swap="outerHTML">
            {% for task in tasks %}
                {% include "task/row.html" %}
            {% else %}
                <tr>
                    <td class="uk-text-center">
                        <small class="uk-text-muted">Your tasks will appear here.</small>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
