{% extends "base.html" %}

{% block content %}
<form method="POST" action="/task" class="uk-text-center" autocomplete="off" uk-grid>
  <div class="uk-width-expand">
    <input class="uk-input" type="text" placeholder="New task" name="content" autofocus required>
  </div>
  <div>
    <button class="uk-button uk-button-primary" type="submit">Add</button>
  </div>
</form>

<table class="uk-table uk-table-divider">
  <thead>
    <tr>
      <th>Task</th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks %}
    <tr>
      {% if task.is_finished %}
      <td>
        <s class="uk-text-danger">
          <span class="uk-text-muted">{{ task.content }}</span>
        </s>
      </td>
      <td class="uk-width-auto">
        <button class="uk-button uk-button-text uk-button-small" disabled>Done</button>
      </td>
      {% else %}
      <td>
        <span class="uk-text-emphasis">{{ task.content }}</span>
      </td>
      <td class="uk-width-auto">
        <form method="POST" action="/task/finish/{{ task.id }}">
          <button type="submit" class="uk-button uk-button-text uk-button-small">Done</button>
        </form>
      </td>
      {% endif %}
      <td class="uk-width-auto">
        <form method="POST" action="/task/delete/{{ task.id }}">
          <button type="submit" class="uk-button uk-button-text uk-button-small">Delete</button>
        </form>
      </td>
    </tr>
    {% else %}
    <tr>
      <td class="uk-text-center">
        <small class="uk-text-muted">Your tasks will appear here.</small>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}